body {
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100vh;
  color: white;
  font-weight: 800;

  .informations {
    border: 2px solid crimson;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .btns {
      .btn-content {
        cursor: pointer;
        border: 1px solid crimson;
        padding: 5px 25px;

        &:not(:last-child) {
          margin-right: 15px;
          text-transform: capitalize;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .input-informations {
      .color-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        p {
          text-transform: uppercase;
        }
      }
    }
  }

  .grid-container {
    border: 3px solid darkblue;
    display: grid;
    height: 600px;
    width: 600px;
  }

  .cell {
    border: 1px solid crimson;
  }
}
